{% extends "layout.html" %}
{% block body %}
<div class="big-container">
    <h1 class="head">ABOUT COMPANY</h1>
    <div class="button-container">
        <a class="button" href="ABOUT">Read More</a>
    </div>
</div>

<div class="big-container">
    <h1 class="head">PRICES</h1>
    <div class="button-container">
        <a class="button" href="PRICES">Read More</a>
    </div>
</div>

<div class="big-container">
    <h1 class="head">ACCESS YOUR PHOTOS</h1>
    <div class="button-container">
        <a class="button" href="PHOTOS">Read More</a>
    </div>
</div>

{% endblock %}