{% extends "layout.html" %}
{% block body %}
    <div class="project">
        <h2>PHOTOS</h2>
        <div class="folder-container">
            <div class="link-folder">
                <a href="racetrack1" id="Folder1_ID">Race Track 1</a>
            </div>
            <div class="link-folder">
                <a href="racetrack2" id="Folder2_ID">Race Track 2</a>
            </div>
            <div class="link-folder">
                <a href="racetrack3" id="Folder3_ID">Race Track 3</a>
            </div>
            <div class="link-folder">
                <a href="racetrack4" id="Folder4_ID">Race Track 3</a>
            </div>
            <!-- Add more folders here -->
        </div>
    </div>
{% endblock %}
