{% extends "layout.html" %}
{% block body %}
    <div class="project">
        <h2>RACETRACK 1 - LOCATION 2</h2>
        <div class="locations">
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 1">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 2">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 3">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 4">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 4">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
            <div class="priceLocation">
                <img src="https://www.shutterstock.com/image-illustration/no-picture-available-placeholder-thumbnail-600nw-2179364083.jpg" alt="Location 4">
                <div class="price-container">
                    <p class="price">PHOTO ID</p>
                </div>
            </div>
        </div>
    </div>
{% include "submission_form.html" %}
    <div class="button-container">
        <a class="button" href="racetrack1">GO BACK</a>
    </div>
{% endblock %}
